.headerContainer{
    height: 5rem;
    border-bottom: 1px solid var(--bg-dark);
    background-color: var(--bg-dark);
}

.headerContent{
    // max-width: 1280px;
    height: 5rem;
    //margin: 0 auto;
    padding: 0 18%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    img {
        height: 40px;
        margin-right: auto;
    }

    nav {
        // margin-left: 15rem;
        // margin-left: auto;
        height: 5rem;

        ul{
            list-style: none;
            
            li{
                display: inline-block;
                margin-left: 1rem;  

                a{
                    display: inline-block;
                    position: relative;
                    padding: 0 0.5rem;
                    height: 5rem;
                    line-height:  5rem;
                    color: var(--white);
        
                    transition: color 0.3s;
        
                    &:hover{
                        color: var(--orange);
                    }
        
                    &.active {
                        color: var(--orange);
                        font-weight: bold;
                    }
                }
            }
        }

    }

    button{
        margin-left: 3rem;
    }
}